html {background-color: lightgrey;}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 50px;
}
h1 {font-size: large;
    border: thin solid black;}
h2 {text-decoration: underline;}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}